aiofiles==25.1.0
aiogram==3.29.0
aiohappyeyeballs==2.6.2
aiohttp==3.14.1
aiosignal==1.4.0
annotated-types==0.7.0
attrs==26.1.0
certifi==2026.5.20
charset-normalizer==3.4.7
click==8.1.8
frozenlist==1.8.0
gTTS==2.5.4
idna==3.18
libretranslatepy==2.1.1
lxml==6.1.1
magic-filter==1.0.12
multidict==6.7.1
propcache==0.5.2
pydantic==2.13.4
pydantic_core==2.46.4
python-dotenv==1.2.2
pytube3==9.6.4
requests==2.34.2
translate==3.8.0
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.7.0
yarl==1.24.2
